In [1]:
import pandas as pd
import numpy as np

df = pd.read_excel('prices_multiasset_portfolio_1292016_Data_Set.xlsx')
df

,Index,SPTR Index,FNERTR Index,RU10INTR Index,SPGSCITR Index,GDDUEAFE Index,LBUSTRUU Index,LF98TRUU Index,GDLEEGF Index
0,1999-01-04,1668.521,2526.2561,2522.621,1992.325,3312.732,840.31,536.88,16353.000
1,1999-01-05,1691.253,2535.7539,2553.651,1975.145,3334.567,838.85,537.14,16412.156
2,1999-01-06,1729.083,2539.5659,2608.138,2033.986,3383.917,840.25,537.63,16785.383
3,1999-01-07,1725.640,2522.4280,2605.670,2038.249,3363.649,838.69,537.99,17000.391
4,1999-01-08,1732.925,2523.1851,2616.827,2045.915,3343.808,836.07,538.79,16941.010
...,...,...,...,...,...,...,...,...,...
4512,2016-12-02,4182.810,15161.0200,6655.233,2364.620,6264.538,1971.84,1782.68,100422.664
4513,2016-12-05,4207.565,15281.3600,6697.669,2387.900,6289.992,1972.37,1786.18,100425.672
4514,2016-12-06,4222.036,15350.7900,6724.738,2369.230,6351.167,1971.80,1791.72,101024.734
4515,2016-12-07,4278.438,15667.8000,6812.219,2342.140,6426.821,1977.18,1798.51,101428.352
4516,2016-12-08,4288.104,15754.8700,6831.300,2360.020,6436.620,1973.80,1800.94,102656.453

In [2]:
df.loc[:, 'SPTR Index':'GDLEEGF Index'].values

array([[  1668.521 ,   2526.2561,   2522.621 , ...,    840.31  ,
           536.88  ,  16353.    ],
       [  1691.253 ,   2535.7539,   2553.651 , ...,    838.85  ,
           537.14  ,  16412.156 ],
       [  1729.083 ,   2539.5659,   2608.138 , ...,    840.25  ,
           537.63  ,  16785.383 ],
       ...,
       [  4222.036 ,  15350.79  ,   6724.738 , ...,   1971.8   ,
          1791.72  , 101024.734 ],
       [  4278.438 ,  15667.8   ,   6812.219 , ...,   1977.18  ,
          1798.51  , 101428.352 ],
       [  4288.104 ,  15754.87  ,   6831.3   , ...,   1973.8   ,
          1800.94  , 102656.453 ]])

### 一、 计算 linear returns 和 compounded returns

In [3]:
linear = {'sptr': [], 'fnertr': [], 'ru10intr': [], 'spgscitr': [], 'gddueafe': [], 'lbustruu': [], 'lf98truu': [], 'gdleegf': []}
compounded = {'sptr': [], 'fnertr': [], 'ru10intr': [], 'spgscitr': [], 'gddueafe': [], 'lbustruu': [], 'lf98truu': [], 'gdleegf': []}

data = df.loc[:, 'SPTR Index':'GDLEEGF Index'].values
vi = data[0, :]
for i, _ in enumerate(data):
    lr = _ / vi - 1
    cr = np.log(_ / vi)
    linear['sptr'].append(lr[0])
    linear['fnertr'].append(lr[1])
    linear['ru10intr'].append(lr[2])
    linear['spgscitr'].append(lr[3])
    linear['gddueafe'].append(lr[4])
    linear['lbustruu'].append(lr[5])
    linear['lf98truu'].append(lr[6])
    linear['gdleegf'].append(lr[7])

    compounded['sptr'].append(cr[0])
    compounded['fnertr'].append(cr[1])
    compounded['ru10intr'].append(cr[2])
    compounded['spgscitr'].append(cr[3])
    compounded['gddueafe'].append(cr[4])
    compounded['lbustruu'].append(cr[5])
    compounded['lf98truu'].append(cr[6])
    compounded['gdleegf'].append(cr[7])

    vi = _
ldf = pd.DataFrame(linear)
cdf = pd.DataFrame(compounded)

In [4]:
ldf

,sptr,fnertr,ru10intr,spgscitr,gddueafe,lbustruu,lf98truu,gdleegf
0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,0.013624,0.003760,0.012301,-0.008623,0.006591,-0.001737,0.000484,0.003617
2,0.022368,0.001503,0.021337,0.029791,0.014800,0.001669,0.000912,0.022741
3,-0.001991,-0.006748,-0.000946,0.002096,-0.005990,-0.001857,0.000670,0.012809
4,0.004222,0.000300,0.004282,0.003761,-0.005899,-0.003124,0.001487,-0.003493
...,...,...,...,...,...,...,...,...
4512,0.000397,0.010506,0.000402,0.004221,-0.000226,0.002965,0.001016,-0.006628
4513,0.005918,0.007937,0.006376,0.009845,0.004063,0.000269,0.001963,0.000030
4514,0.003439,0.004543,0.004042,-0.007819,0.009726,-0.000289,0.003102,0.005965
4515,0.013359,0.020651,0.013009,-0.011434,0.011912,0.002728,0.003790,0.003995
4516,0.002259,0.005557,0.002801,0.007634,0.001525,-0.001710,0.001351,0.012108

In [5]:
cdf

,sptr,fnertr,ru10intr,spgscitr,gddueafe,lbustruu,lf98truu,gdleegf
0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,0.013532,0.003753,0.012226,-0.008660,0.006570,-0.001739,0.000484,0.003611
2,0.022122,0.001502,0.021112,0.029356,0.014691,0.001668,0.000912,0.022486
3,-0.001993,-0.006771,-0.000947,0.002094,-0.006008,-0.001858,0.000669,0.012728
4,0.004213,0.000300,0.004273,0.003754,-0.005916,-0.003129,0.001486,-0.003499
...,...,...,...,...,...,...,...,...
4512,0.000397,0.010451,0.000402,0.004212,-0.000226,0.002961,0.001016,-0.006650
4513,0.005901,0.007906,0.006356,0.009797,0.004055,0.000269,0.001961,0.000030
4514,0.003433,0.004533,0.004033,-0.007849,0.009679,-0.000289,0.003097,0.005948
4515,0.013271,0.020441,0.012925,-0.011500,0.011841,0.002725,0.003782,0.003987
4516,0.002257,0.005542,0.002797,0.007605,0.001524,-0.001711,0.001350,0.012035

### 二、计算 mean, standard deviation, skewness and kurtosis

In [8]:
ldf.mean()

sptr        0.000286
fnertr      0.000572
ru10intr    0.000298
spgscitr    0.000148
gddueafe    0.000213
lbustruu    0.000192
lf98truu    0.000273
gdleegf     0.000459
dtype: float64

In [9]:
cdf.mean()

sptr        0.000209
fnertr      0.000405
ru10intr    0.000221
spgscitr    0.000037
gddueafe    0.000147
lbustruu    0.000189
lf98truu    0.000268
gdleegf     0.000407
dtype: float64

In [10]:
ldf.std()

sptr        0.012397
fnertr      0.018274
ru10intr    0.012471
spgscitr    0.014842
gddueafe    0.011474
lbustruu    0.002378
lf98truu    0.003066
gdleegf     0.010231
dtype: float64

In [11]:
cdf.std()

sptr        0.012402
fnertr      0.018259
ru10intr    0.012479
spgscitr    0.014863
gddueafe    0.011493
lbustruu    0.002378
lf98truu    0.003076
gdleegf     0.010248
dtype: float64

In [12]:
ldf.skew()

sptr        0.001393
fnertr      0.415711
ru10intr   -0.020910
spgscitr   -0.140297
gddueafe   -0.235438
lbustruu   -0.157019
lf98truu   -2.110203
gdleegf    -0.321354
dtype: float64

In [13]:
cdf.skew()

sptr       -0.182115
fnertr     -0.199648
ru10intr   -0.202962
spgscitr   -0.237493
gddueafe   -0.378606
lbustruu   -0.169365
lf98truu   -2.250085
gdleegf    -0.458843
dtype: float64

In [14]:
ldf.kurtosis()

sptr         8.001767
fnertr      20.662669
ru10intr     7.846788
spgscitr     2.346625
gddueafe     6.371804
lbustruu     1.488604
lf98truu    32.291504
gdleegf      7.117078
dtype: float64

In [15]:
cdf.kurtosis()

sptr         7.839943
fnertr      20.685862
ru10intr     7.721128
spgscitr     2.449962
gddueafe     6.464010
lbustruu     1.491217
lf98truu    33.784492
gdleegf      7.133187
dtype: float64

### 三、Normality test

In [16]:
from scipy import stats

In [18]:
stats.normaltest(ldf)

NormaltestResult(statistic=array([ 696.65998743, 1248.78416304,  688.46520691,  266.64131088,
        640.14035773,  167.89764067, 2750.0465936 ,  720.30455334]), pvalue=array([5.27479820e-152, 6.76027639e-272, 3.17453288e-150, 1.25769409e-058,
       9.89207719e-140, 3.47928950e-037, 0.00000000e+000, 3.87127121e-157]))

In [19]:
stats.normaltest(cdf)

NormaltestResult(statistic=array([ 712.38779253, 1158.24421498,  711.5992516 ,  304.98476941,
        706.6584894 ,  171.18582337, 2873.64138403,  791.63208042]), pvalue=array([2.02747900e-155, 3.09360150e-252, 3.00736300e-155, 5.93470028e-067,
       3.55679415e-154, 6.72157062e-038, 0.00000000e+000, 1.25683390e-172]))